.header {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.header__left {
  flex-grow: 2;
}

.header__right {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

@media screen and (max-width: 660px) {
  .header {
    justify-content: center;
  }
}
