:root {
  --primary-color: #000000;
  --primary-color2: #ffffff;
}

.App {
  text-align: center;
  min-width: 400px;
  background-color: var(--primary-color2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__logo {
  margin-left: 46px;
  margin: 0;
  font-size: 96px;
  font-family: "Kreon";
  font-style: "Regular";
}

.header__logo_container {
  margin-left: 46px;
}

.header__container {
  display: flex;
  margin: 0;
}

.leftHeader {
  flex-grow: 2;
}

.right {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.header__description {
  font-size: 20px;
  font-style: "Regular";
  font-family: "Kreon";
  max-width: 87px;
}

.header__container-img {
  position: absolute;
  transform: translateY(140px);
}

@media screen and (max-width: 660px) {
  .header__img {
    display: none;
  }
}
