:root {
  --primary-color: #000000;
  --primary-color2: #ffffff;
}

.App {
  text-align: center;
  min-width: 400px;
  background-color: var(--primary-color2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header__logo {
  margin-left: 46px;
  margin: 0;
  font-size: 96px;
  font-family: "Kreon";
  font-style: "Regular";
}

.header__logo_container {
  margin-left: 46px;
}

.header__container {
  display: flex;
  margin: 0;
}

.header__left {
  flex-grow: 2;
}

.header__right {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.header__description {
  font-size: 20px;
  font-style: "Regular";
  font-family: "Kreon";
  max-width: 87px;
  margin-left: 10px;
}

.header__select {
  position: relative;
  margin-left: 29px;
  max-width: 200px; 
}

.header__select-btn {
  border-radius: 10px;
  padding: 15px 10px;
  background: #fcfcfc;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.header__select-btn::after {
  flex-shrink: 0;
  width: 1rem;
  height: 0.75rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  background-image: url("../images/Vector\ \(1\).svg");
  background-size: cover;
  content: "";
}

.header__select-content {
  position: absolute;
  top: 110%;
  padding-right: 140px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  
}

.header__select-item {
  padding: 3px 10px;
}

.header__container-img {
  position: absolute;
  transform: translateY(140px);
}

.header__select {
  width: 400px;
}

@media screen and (max-width: 660px) {
  .header__img {
    display: none;
  }
}
