.header__select {
  position: relative;
  margin-left: 29px;
  width: 400px;
}

.header__select-item,
.header__select-btn {
  height: 43px;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
  border: #dad6d6 1px solid;
  flex-grow: 1;
}

.header__select-btn {
  width: 181px;
  border-radius: 10px;
  background: #fcfcfc;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  justify-content: space-between;
  font-weight: 500;
}

.header__select-btn::after {
  flex-shrink: 0;
  width: 1rem;
  height: 0.75rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  background-image: url("../../../images/Vector\ \(1\).svg");
  content: "";
}

.header__select-content {
  position: absolute;
  top: 110%;
  width: 181px;
  height: 172px;
  background: var(--primary-color2);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: #333;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 5;
}

.header__select-item:hover,
.header__select-btn:hover {
  background-color: #f0efef;
}
